.formCountdown{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 5px solid  #ffc300;

}
.formCountdown p{
    padding-top: 20px;
    color: #2f2f2f;
    text-shadow:
            0 0 5px #ffc300,
            0 0 5px #ffc300;
    font-family: 'Staatliches', sans-serif;
    font-size: 2.7rem;
}
.formTitle{
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    font-size: 1.5rem;
    background-color: #ffffff;
    margin: 20px;
    text-align: center;
    width: 60%;
    color: black;

}
.formDate{
    border: none;
    font-size: 1.5rem;
    background-color: #ffffff;;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    width: 80%;

}
.formSubmit{
    border: none;
    background-color: #ffc300;
    border-radius: 52px;
    font-size: 1.5rem;
    color: #2f2f2f;
    padding: 5px;
    margin-bottom: 12px;
    width: 40%;
    font-family: 'Staatliches', sans-serif;
}

.hny{
    background-image: url("images/hny.jpg");
}
.money{
    background-image: url("images/money-min.jpeg");
}
.spiderman{
    background-image: url("images/spider-man-no-way-home-logo-01-700x400-1-min.jpeg");
}
.selector{
    width: 50%;
    height: 100px!important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
}
.selector label{
    width: 40px;
    height: 40px;
}
.selector img{
    width: 45px;
    height: 45px;
}
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid #ffc300;
}