.formCountdown{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 5px solid  #ffc300;

}
.formCountdown p{
    padding-top: 20px;
    color: #2f2f2f;
    text-shadow:
            0 0 5px #ffc300,
            0 0 5px #ffc300;
    font-family: 'Staatliches', sans-serif;
    font-size: 2.7rem;
}
.formTitle{
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    font-size: 1.5rem;
    background-color: #ffffff;
    margin: 10px 20px;
    text-align: center;
    width: 60%;
    color: black;

}
.formDate{
    border: none;
    font-size: 1.5rem;
    background-color: #ffffff;;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 80%;

}
.formSubmit{
    border: none;
    background-color: #ffc300;
    border-radius: 52px;
    font-size: 1.5rem;
    color: #2f2f2f;
    padding: 5px;
    margin-bottom: 12px;
    width: 40%;
    font-family: 'Staatliches', sans-serif;
}

.hny{
    background-image: url("images/hny.jpg");
}
.money{
    background-image: url("images/money-min.jpeg");
}
.spiderman{
    background-image: url("images/spider-man-no-way-home-logo-01-700x400-1-min.jpeg");
}
.boxSelector{
    display: flex;

}
.selector{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 200px;
    height: 120px!important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.selector label{
    width: auto;
    height: auto;
    margin: auto;

}
.selector img{
    width: 50px;
    height: 50px;
}
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid #ffc300;
}
@media only screen and (max-width: 855px) {
    .formCountdown p{
        padding-top: 10px;
        font-size: 1.7rem;
    }

    .formTitle{
        font-size: 1rem;
        margin: 20px;

    }
    .formDate{
        font-size: 1.5rem;
        margin-bottom: 20px;
        padding: 10px;
    }
    .formSubmit{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 855px) {

    .formCountdown p{
        padding-top: 10px;
        font-size: 1.7rem;
    }

    .formTitle{
        font-size: 1rem;
        margin: 20px;

    }
    .formDate{
        font-size: 1.2rem;
        margin-bottom: 20px;
        padding: 10px;
    }
    .formSubmit{
        font-size: 1.5rem;
    }

}
@media only screen and (max-width: 535px) {
    .formCountdown p{
        padding-top: 10px;
        font-size: 2rem;
    }

    .formTitle{
        font-size: 1.4rem;
        margin: 20px;

    }
    .formDate{
        font-size: 1.5rem;
        margin-bottom: 20px;
        padding: 10px;
    }
    .formSubmit{
        font-size: 1.5rem;
    }

}
